.contacts__list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__list .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
