.logo {
    font-family: 'Raleway', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;

    margin-right: 94px;
}

.logo__text-one {
    color: var(--logo-color-one);
}

.logo__text-two {
    color: var(--logo-color-two);
}