.clients__list {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  color: var(--fill-svg-icons);

  border: 1px solid currentColor;
  border-radius: 4px;

  transition-property: color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.clients__logo {
  fill: currentColor;
}
