.team-section {
  background-color: var(--background-section-two);
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  display: inline-block;
  width: calc((100% - 90px) / 4);

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  &--border-bg-shadow {
    background-color: var(--background-section-one);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--headers-text-color);

  text-align: center;

  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: var(--primary-text-color);
  margin-bottom: 16px;
}
